dynamicrefactoring.plugin/Classification/classifications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="classifications" type="classificationsType"/>
  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classificationType">
    <xs:sequence>
      <xs:element type="categoriesType" name="categories"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="description" use="required"/>
    <xs:attribute type="xs:boolean" name="multicategory" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="classificationsType">
    <xs:sequence>
      <xs:element type="classificationType" name="classification" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
