dynamicrefactoring.tests/testdata/ClassificationsXmlReading/classificationsDTD.dtd

<!ELEMENT classifications ( classification+ ) >
<!ATTLIST classifications version CDATA #IMPLIED>

<!ELEMENT classification ( categories+ ) >
<!ATTLIST classification name NMTOKENS #REQUIRED >
<!ATTLIST classification description CDATA #REQUIRED >

<!ELEMENT categories ( category+ ) >

<!ELEMENT category ( #PCDATA ) >


